# Get data about Corona Virus
source = https://github.com/CSSEGISandData/COVID-19
This data feeds this great dashboard: https://coronavirus.jhu.edu/map.html

In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import math
import numpy as np

import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pygsheets
from datetime import date, timedelta

## Get data from John's Hopkins

In [2]:
start_date = date(2020, 1, 22)
end_date = date.today()

day = timedelta(days=1)

"{date.month:02}-{date.day:02}-{date.year}".format(date=start_date+day)

'01-23-2020'

In [3]:
dates_list = []

mydate = start_date
while mydate <= end_date:
    dates_list.append("{date.month:02}-{date.day:02}-{date.year}".format(date=mydate))
    mydate += day

In [4]:
df_list = []

for i in dates_list:
    df = pd.read_html('https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv'.format(i))[0]
    df['observation_date'] = i
    df_list.append(df)

In [18]:
df = pd.concat(df_list, ignore_index=True, sort=False)

In [19]:
df_group = df.groupby(by=['Country/Region','observation_date']
                      , as_index=False).agg({'Confirmed':'sum',
                                             'Deaths':'sum',
                                             'Recovered':'sum'})

In [20]:
country_dict = {'Iran (Islamic Republic of)':'Iran',
                'Korea, South':'South Korea',
                'Republic of Korea':'South Korea',
                'Mainland China':'China',
                'Czechia':'Czech Republic',
                'Hong Kong SAR':'Hong Kong',
                'Macao SAR':'Macau'}

In [21]:
df_group['Country/Region'] = df_group['Country/Region'].replace(country_dict)

In [23]:
df_group['observation_date'] = pd.to_datetime(df_group.observation_date)
df_group.rename(columns={'Country/Region':'country'}, inplace=True)
df_group = df_group.sort_values(by=['country','observation_date'])
df_group['NormalizedStart'] = df_group.groupby(['country']).cumcount() + 1

In [24]:
df_group['NormalizedFirstDeath'] = df_group[df_group.Deaths > 0].groupby('country').cumcount() + 1
df_group['NormalizedFirstDeath'] = df_group['NormalizedFirstDeath'].fillna(0)

In [25]:
df_group.iloc[:,-5:] = df_group.iloc[:,-5:].astype(int)

In [26]:
df_group['death_delta'] = df_group.Deaths.diff().fillna(0).astype(int)
df_group['confirmed_delta'] = df_group.Confirmed.diff().fillna(0).astype(int)
df_group.loc[df_group.NormalizedStart == 1, 'death_delta'] = 0
df_group.loc[df_group.NormalizedStart == 1, 'confirmed_delta'] = 0

In [27]:
df_group = df_group.drop_duplicates(subset=['country','observation_date'])

In [44]:
df_daily_cases = df_group[df_group.country != 'China'].groupby('observation_date', as_index=False)['confirmed_delta'].sum()

In [45]:
df_daily_cases['rate_of_change'] = df_daily_cases.confirmed_delta.pct_change() + 1
df_daily_cases['cases_3DMA'] = df_daily_cases.confirmed_delta.rolling(3).mean()
df_daily_cases['rate_of_change_3DMA'] = df_daily_cases.cases_3DMA.pct_change() + 1
df_daily_cases

,observation_date,confirmed_delta,rate_of_change,cases_3DMA,rate_of_change_3DMA
0,2020-01-22,0,NaN,NaN,NaN
1,2020-01-23,3,inf,NaN,NaN
2,2020-01-24,9,3.000000,4.000000,NaN
3,2020-01-25,13,1.444444,8.333333,2.083333
4,2020-01-26,16,1.230769,12.666667,1.520000
5,2020-01-27,5,0.312500,11.333333,0.894737
6,2020-01-28,17,3.400000,12.666667,1.117647
7,2020-01-29,6,0.352941,9.333333,0.736842
8,2020-01-30,15,2.500000,12.666667,1.357143
9,2020-01-31,24,1.600000,15.000000,1.184211
10,2020-02-01,24,1.000000,21.000000,1.400000
11,2020-02-02,13,0.541667,20.333333,0.968254
12,2020-02-03,8,0.615385,15.000000,0.737705
13,2020-02-04,23,2.875000,14.666667,0.977778
14,2020-02-05,15,0.652174,15.333333,1.045455
15,2020-02-06,38,2.533333,25.333333,1.652174
16,2020-02-07,-9,-0.236842,14.666667,0.578947
17,2020-02-08,26,-2.888889,18.333333,1.250000
18,2020-02-09,18,0.692308,11.666667,0.636364
19,2020-02-10,96,5.333333,46.666667,4.000000
20,2020-02-11,19,0.197917,44.333333,0.950000
21,2020-02-12,47,2.473684,54.000000,1.218045
22,2020-02-13,15,0.319149,27.000000,0.500000
23,2020-02-14,56,3.733333,39.333333,1.456790
24,2020-02-15,90,1.607143,53.666667,1.364407
25,2020-02-16,95,1.055556,80.333333,1.496894
26,2020-02-17,116,1.221053,100.333333,1.248963
27,2020-02-18,103,0.887931,104.666667,1.043189
28,2020-02-19,94,0.912621,104.333333,0.996815
29,2020-02-20,105,1.117021,100.666667,0.964856
30,2020-02-21,169,1.609524,122.666667,1.218543
31,2020-02-22,306,1.810651,193.333333,1.576087
32,2020-02-23,370,1.209150,281.666667,1.456897
33,2020-02-24,366,0.989189,347.333333,1.233136
34,2020-02-25,332,0.907104,356.000000,1.024952
35,2020-02-26,570,1.716867,422.666667,1.187266
36,2020-02-27,922,1.617544,608.000000,1.438486
37,2020-02-28,1035,1.122560,842.333333,1.385417
38,2020-02-29,1460,1.410628,1139.000000,1.352196
39,2020-03-01,1771,1.213014,1422.000000,1.248464
40,2020-03-02,1729,0.976285,1653.333333,1.162682
41,2020-03-03,2406,1.391556,1968.666667,1.190726
42,2020-03-04,2150,0.893599,2095.000000,1.064172
43,2020-03-05,2602,1.210233,2386.000000,1.138902
44,2020-03-06,3755,1.443121,2835.666667,1.188460
45,2020-03-07,3947,1.051132,3434.666667,1.211238
46,2020-03-08,3918,0.992653,3873.333333,1.127717
47,2020-03-09,3725,0.950740,3863.333333,0.997418
48,2020-03-10,4973,1.335034,4205.333333,1.088525
49,2020-03-11,7165,1.440780,5287.666667,1.257372

## Connect to and update Google sheets

In [14]:
pycred = pygsheets.authorize(service_file='/Users/paulbrown/Documents/credentials.json')
#opening the gsheet and sheet you want to work with
ss = pycred.open('Corona Virus Dataset')[0]
#overwrite what is in the sheet with your df
ss.set_dataframe(df_group,(1,1))

In [47]:
pycred = pygsheets.authorize(service_file='/Users/paulbrown/Documents/credentials.json')
#opening the gsheet and sheet you want to work with
ss = pycred.open('Corona Virus Dataset')[1]
#overwrite what is in the sheet with your df
ss.set_dataframe(df_daily_cases,(1,1))